.container-testimonial{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items:center;
    width: 1170px;
    height: 368px;
    background-image: linear-gradient(225deg, #525153  0%, #ffffff 100%);
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 59%);
}

.imagen-testimonial{
    /* border: 1px solid green; */
    height: 368px;
}

.container-text{
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}
.name-testimonial{
    font-size: 1.3rem;
}
.cargo-testimonial{
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}
.text-testimonial{
    font-size: 1.1rem;
    text-align: justify;
}